@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

*{
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

@layer utilities {
    .clip-path-custom {
      clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    }
    .clip-path-custom-2 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
      }
    .clip-path-custom-3 {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
      }
  }
  @keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-18px); }
}
.animate-float {
  animation: float 3.5s ease-in-out infinite;
}